@model PuppySharpPdf.Framework.DemoProject.Models.CorgiTemplateViewModel

@{
    ViewBag.Title = "Generate PDF Using Razor File";
}

<h1>Generate PDF Using Razor File</h1>

<div class="card">
    <div class="card-header text-center">
        Generate Pdf using Razor File
    </div>
    <div class="card-body p-3">
        <form action="/Home/GeneratePdfUsingRazorTemplate" method="post">
            <div class="card">
                <div class="card-body p-3">
                    <h5>Type of Pdf To Generate</h5>
                    <div class="form-check">
                        @Html.RadioButtonFor(x => x.PdfType, "CardiganWelshCorgi")
                        <label class="form-check-label" for="CardiganWelshCorgi">
                            Cardigan Welsh Corgi
                        </label>
                    </div>
                    <div class="form-check">
                        @Html.RadioButtonFor(x => x.PdfType, "PembrokeWelshCorgi")
                        <label class="form-check-label" for="PembrokeWelshCorgi">
                            Pembroke Welsh Corgi
                        </label>
                    </div>
                    <hr />
                    <div class="form-group form-check">
                        @Html.CheckBoxFor(x => x.IncludeHeader, new { @class = "form-check-input" })
                        <label class="form-check-label" for="exampleCheck1">Include Header</label>
                        @Html.ValidationMessageFor(x => x.IncludeHeader, "", new { @class = "text-danger text-bold" })

                    </div>
                    <div class="form-group form-check">
                        @Html.CheckBoxFor(x => x.IncludeFooter, new { @class = "form-check-input" })
                        <label class="form-check-label" for="exampleCheck1">Include Footer</label>
                        @Html.ValidationMessageFor(x => x.IncludeFooter, "", new { @class = "text-danger text-bold" })
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="submit">Generate PDF</button>
                </div>
            </div>

        </form>

    </div>
</div>


